{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}
{% load comment_tags %}

{% comment %} META {% endcomment %}
{% block title %}
  Emeric Defay - {{ block.super }}
{% endblock title %}

{% block description %}Mon résumé pour celles et ceux qui veulent me contacter pour un contrat ou une mission.{% endblock description %}

{% block keywords %}{{ block.super }}, resume, curriculum vitae, compétences, compétence, skills, experience, contrat, mission{% endblock keywords %}

{% block preload %}
  {{ block.super }}
  <link rel="preload" href="{% static "img/emeric.jpg" %}" as="image" importance="high">
  <link rel="preload" href="{% static "img/logo-devpy.png" %}" as="image" importance="high">
  <link rel="preload" href="{% static "img/logo_actif.png" %}" as="image" importance="high">
  <link rel="preload" href="{% static "img/logo_elephants.png" %}" as="image" importance="high">
{% endblock preload %}

{% comment %} Extras {% endcomment %}
{% block extrajs %}
{% endblock extrajs %}

{% block extracss %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/resume_style.css' %}">
  <link rel="stylesheet" media="print" href="{% static 'css/resume_style_print.css' %}">
{% endblock extracss %}

{% comment %} Content {% endcomment %}
{% block content %}

<section>
  <div class="page">
    <div class="upper-quarter">
      <div class="content container">
        <div class="contact-me row" id="contact-me">
          <img class="logo col col-xl-6 col-lg-6 col-md-6 col-sm-6" loading="lazy" src="{% static "img/emeric.jpg" %}">
          <div class='name col col-xl-6 col-lg-6 col-md-6 col-sm-6'>
            <h1>Emeric DEFAY</h1>
            <h3>Data Scientist</h3>
            <h3 class="slash">/</h3>
            <h3>Développeur</h3>
            <p class="d-print-none mt-2">
              <button class="d-print-none mt-2 btn btn-primary send-button" onclick="print()" value="Imprimez le CV">
                <div class="alt-send-button">
                  <i class="far fa-file-alt"></i><span class="send-text">Imprimez le CV</span>
                </div>
              </button>
            </p>
            <p class="d-none d-print-block">emericdefay@gmail.com</p>
            <p class="d-none d-print-block">(+33) 7 77 04 65 99</p>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-three-quarters">
      <div class="left-column">
        <div class="experience">
          <header>
            <h2 class="plain-title resume-title">Experiences</h2>
          </header>
          <div class="cci">
            <!-- bold -->
            <div class="container"><div class="row row-cols-2">
              <div class="col-8">
                <h3>Auto-entrepreneur</h3>
                <h4><a href="/">Création de sites web et outils en Python</a></h4>
                <h4>Juin 2022 - Aujourd'hui</h4>
              </div>
              <div class="col experience-logo">
                <img class="actif-logo d-print-none" src="{% static "img/logo-devpy.png" %}">
              </div>
            </div></div>
            <ul>
              <li>Réalisation de sites en Django</li>
              <li>Création de contenu Machine Learning et Django</li>
              {% comment %} <li>Mentorat</li> {% endcomment %}
            </ul>
          </div>
          <div class="cci">
            <!-- bold -->
            <div class="container"><div class="row row-cols-2">
              <div class="col-8">
                <h3>Restaurant Les Elephants</h3>
                <h4><a href="https://github.com/Emericdefay/Elephants" target="_blank">Outil de gestion de commandes</a></h4>
                <h4>Mars 2022 - Juin 2022</h4>
              </div>
              <div class="col experience-logo">
                <img class="actif-logo d-print-none" src="{% static "img/logo_elephants.png" %}">
              </div>
            </div></div>
            <ul>
              <li>Réalisation de la plateforme en Django et Bootstrap</li>
              <li>Utilisation de npm pour intégrer Jquery, Bootstrap, Sass</li>
              <li>Gère plusieurs centaines de clients</li>
            </ul>
          </div>
          <div class="cci">
            <!-- bold -->
            <div class="container"><div class="row row-cols-2">
              <div class="col-8">
                <h3>CCI Savoie</h3>
                <h4><a href="https://portail.actif-cci.fr/" target="_blank">ACTIF - portail de l'économie circulaire</a></h4>
                <h4>Janvier 2022 - Juin 2022</h4>
              </div>
              <div class="col experience-logo">
                <img class="actif-logo d-print-none" src="{% static "img/logo_actif.png" %}">
              </div>
            </div></div>
            <ul>
              <li>Réalisation de la plateforme en Django et Bootstrap</li>
              <li>Pipeline : tests (unitaires et E2E), lint et requirements</li>
              <li>Emploi de Docker pour faciliter la mise en production</li>
            </ul>
          </div>
        </div>
        <div class="personal-experience d-print-none">
          <header>
            <h2 class="resume-title">Experiences Personnelles</h2>
          </header>
          <div class="interface-switch">
            <div class="interface-switch-text">
              <h3>• Interface PC à Nintendo Switch pour taches automatiques</h3>
            </div>
          </div>
          <div class="musicsheet">
            <div class="musicsheet-text">
              <h3>• Perforeuse Papier à Musique Automatique</h3>
            </div>
          </div>
          <div class="osu">
            <div class="osu-text">
              <h3>• Générateur de map sur Osu!</h3>
            </div>
          </div>
          <div class="deaf">
            <div class="deaf-text">
              <h3>• Interpréteur de Musique pour les malentendants</h3>
            </div>
          </div>
          <div class="bot">
            <div class="bot-text">
              <h3>• Bots de jeux vidéos</h3>
            </div>
          </div>
        </div>
        <div class="education">
          <header>
            <h2 class="plain-title resume-title">Formations</h2>
          </header>
          <div class="ed-info">
            <div class="info">
              <h3>OpenClassRooms</h3>
              <h4>Bac+5 Ingénieur Machine Learning </h4>
              <h4>2021 - 2022</h4>
            </div>
          </div>
          <div class="ed-info">
            <div class="info">
              <h3>OpenClassRooms</h3>
              <h4>Bac+4 Développeur Python </h4>
              <h4>2020 - 2021</h4>
            </div>
          </div>
          <div class="ed-info">
            <div class="info">
              <h3>CERUS Casino</h3>
              <h4>Bac Croupier de table</h4>
              <h4>2019 - 2020</h4>
            </div>
          </div>
          <div class="ed-info d-print-none">
            <div class="info">
              <h3>Chetawan School</h3>
              <h4>Bac Masseur Thérapeuthique</h4>
              <h4>2018 - 2019</h4>
            </div>
          </div>
          <div class="ed-info">
            <div class="info">
              <h3>Telecom Physique Strasbourg</h3>
              <h4>Bac+3 Ingénieur TI-Santé </h4>
              <h4>2016 - 2017</h4>
            </div>
          </div>
          <div class="ed-info">
            <div class="info">
              <h3>Lycée Henri Parriat</h3>
              <h4>Bac+2 CPGE TSI </h4>
              <h4>2013 - 2016</h4>
            </div>
          </div>
        </div>
        <div class="optionnal-traits">
          <div class="traits-hobbies">
            <header>
              <h2 class="resume-title">Personnalité</h2>
            </header>
            <div class="traits-list row">
              <ul class="left-traits col col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <li>Associateur d'idées</li>
                <li>Prototypeur</li>
                <li>Créatif</li>
              </ul>
              <ul class="center-traits col col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <li>Développeur</li>
                <li>Organisé</li>
                <li>Observateur</li>
              </ul>
              <ul class="right-traits col col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <li>Bon équipier</li>
                <li>Enteprenant</li>
                <li>Flexible</li>
              </ul>
            </div>
            <header>
              <h2 class="resume-title">Hobbies</h2>
            </header>
            <div class="traits-list row">
              <ul class="left-hobbies col col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <li>Guitare</li>
                <li>FL Studio</li>
              </ul>
              <ul class="center-hobbies col col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <li>Programmation</li>
                <li>Randonnées</li>
              </ul>
              <ul class="right-hobbies col col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <li>Illustration</li>
                <li>Jeux-vidéos</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="personal-experience d-none d-print-block">
          <header>
            <h2 class="resume-title">Experiences Personnelles</h2>
          </header>
          <div class="interface-switch">
            <div class="interface-switch-text">
              <h3>◽ Interface PC à Nintendo Switch pour taches automatiques</h3>
            </div>
          </div>
          <div class="musicsheet">
            <div class="musicsheet-text">
              <h3>◽ Perforeuse Papier à Musique Automatique</h3>
            </div>
          </div>
          <div class="osu">
            <div class="osu-text">
              <h3>◽ Générateur de map sur Osu!</h3>
            </div>
          </div>
          <div class="deaf">
            <div class="deaf-text">
              <h3>◽ Interpréteur de Musique pour les malentendants</h3>
            </div>
          </div>
          <div class="bot">
            <div class="bot-text">
              <h3>◽ Bots de jeux vidéos</h3>
            </div>
          </div>
        </div>
        <header>
            <h2 class="plain-title resume-title">Compétences</h2>
        </header>
        <div class="skills">
          <ul class="lines">
              <li class="line l--0">
                <span class="line__label titled-print-block d-none d-sm-block">
                  Niveau:
                </span>
                <span class="line__label title d-sm-none d-print-none">
                  Niv:
                </span>
              </li>
              <li class="line l--25">
                <span class="line__label d-none d-sm-block d-print-block">
                  Basique
                </span>
                <span class="line__label d-sm-none d-print-none">
                  Base
                </span>
              </li>
              <li class="line l--50">
                <span class="line__label d-none d-sm-block d-print-block">
                  Avancé
                </span>
                <span class="line__label d-sm-none d-print-none">
                  Avancé
                </span>
              </li>
              <li class="line l--75">
                <span class="line__label d-none d-sm-block d-print-block">
                  Maitrise
                </span>
                <span class="line__label d-sm-none d-print-none">
                  Maitre
                </span>
              </li>
              <li class="line l--100">
                <span class="line__label d-none d-sm-block d-print-block">
                  Expert
                </span>
                <span class="line__label d-sm-none d-print-none">
                  Expert
                </span>
              </li>
          </ul>
          
        <div class="charts">
          <div class="chart chart--dev d-print-none">
            <span class="chart__title">Langage Objet</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 90%;">
                <span class="chart__label">
                  Python
                </span>
              </li>
              <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                  NodeJS
                </span>
              </li>
              <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                  Arduino
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  AutoHotKey
                </span>
              </li>
              <li class="chart__bar" style="width: 30%;">
                <span class="chart__label">
                  C#
                </span>
              </li>
            </ul>
          </div>
          <div class="chart chart--prod">
            <span class="chart__title">Backend</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  Django
                </span>
              </li>
              <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                  Flask
                </span>
              </li>
              <li class="chart__bar" style="width: 70%;">
                <span class="chart__label">
                  Stripe
                </span>
              </li>
              <li class="chart__bar" style="width: 50%;">
                <span class="chart__label">
                  Azure
                </span>
              </li>
            </ul>
          </div>
          <div class="chart chart--prod">
            <span class="chart__title">Frontend</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 90%;">
                <span class="chart__label">
                  HTML5
                </span>
              </li>
              <li class="chart__bar" style="width: 90%;">
                <span class="chart__label">
                  CSS3
                </span>
              </li>
              <li class="chart__bar" style="width: 98%;">
                <span class="chart__label">
                  Bootstrap
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  Javascript
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  jQuery
                </span>
              </li>
            </ul>
          </div>
          <div class="chart chart--prod">
            <span class="chart__title">Productivité</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 70%;">
                <span class="chart__label">
                  Sentry
                </span>
              </li>
              <li class="chart__bar" style="width: 70%;">
                <span class="chart__label">
                  Npm
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  Git
                </span>
              </li>
              <li class="chart__bar" style="width: 70%;">
                <span class="chart__label">
                  Docker
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  Github Actions
                </span>
              </li>
            </ul>
          </div>
          <div class="chart chart--prod">
            <span class="chart__title">Bases de données</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 85%;">
                <span class="chart__label">
                  SQLite3
                </span>
              </li>
              <li class="chart__bar" style="width: 75%;">
                <span class="chart__label">
                  PostgreSQL
                </span>
              </li>
            </ul>
          </div>
          <div class="chart chart--prod d-print-none">
            <span class="chart__title">Systèmes</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  Windows
                </span>
              </li>
              <li class="chart__bar" style="width: 50%;">
                <span class="chart__label">
                  Linux
                </span>
              </li>
              <li class="chart__bar" style="width: 25%;">
                <span class="chart__label">
                  Apple
                </span>
              </li>
            </ul>
          </div>
          <div class="chart chart--prod d-print-none">
            <span class="chart__title">Sciences</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 75%;">
                <span class="chart__label">
                  Mathématiques
                </span>
              </li>
              <li class="chart__bar" style="width: 85%;">
                <span class="chart__label">
                  Physique
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  Sciences de l'ingénieur
                </span>
              </li>
            </ul>
          </div>
          <div class="chart chart--design d-print-none">
            <span class="chart__title">Design</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 70%;">
                <span class="chart__label">
                  Photoshop
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  UX Design
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% comment %} 
      <div class="Récompenses">
        <header>
          <h2>Récompenses</h2>
        </header>
        <div class="recompense">
          <div class="recompense-text">
            <h3>2015 Crocker Innovation Fellow</h3>
            <a href="site" target="blank">site</a>
          </div>
        </div>
      </div> 
      {% endcomment %}
    </div>
  </div>
</section>

{% endblock content %}