@media (prefers-color-scheme: dark) {
  [data-theme=auto] {
    color: #bebebe;
    background-color: #222;
  }
  [data-theme=auto] .bg-darkmode-dark {
    background-color: #343a40 !important;
  }
  [data-theme=auto] .bg-darkmode-light {
    background-color: #f8f9fa !important;
  }
  [data-theme=auto] .bg-darkmode-black {
    background-color: #222 !important;
  }
  [data-theme=auto] pre {
    color: #bebebe;
  }
  [data-theme=auto] hr {
    border-top-color: #404040;
  }
  [data-theme=auto] img.icon,
  [data-theme=auto] svg.icon {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  [data-theme=auto] .table {
    color: #bebebe;
  }
  [data-theme=auto] .table th, [data-theme=auto] .table td {
    border-top-color: #404040;
  }
  [data-theme=auto] .table thead th, [data-theme=auto] .table tbody + tbody {
    border-bottom-color: #404040;
  }
  [data-theme=auto] .table-hover tbody tr:hover {
    color: #bebebe;
  }
  [data-theme=auto] .table-bordered {
    border-color: #404040;
  }
  [data-theme=auto] .table-bordered th, [data-theme=auto] .table-bordered td {
    border-color: #404040;
  }
  [data-theme=auto] .list-group-item {
    color: #bebebe;
    background-color: #181818;
    border-color: #404040;
  }
  [data-theme=auto] .list-group-item.list-group-item-action:focus, [data-theme=auto] .list-group-item.list-group-item-action:hover {
    background-color: #222;
  }
  [data-theme=auto] .list-group-item.active, [data-theme=auto] .list-group-item.active:focus, [data-theme=auto] .list-group-item.active:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  [data-theme=auto] .list-group-item-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  [data-theme=auto] .list-group-item-primary.list-group-item-action:focus, [data-theme=auto] .list-group-item-primary.list-group-item-action:hover {
    color: #fff;
    background-color: #0069d9;
  }
  [data-theme=auto] .list-group-item-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  [data-theme=auto] .list-group-item-secondary.list-group-item-action:focus, [data-theme=auto] .list-group-item-secondary.list-group-item-action:hover {
    color: #fff;
    background-color: #5a6268;
  }
  [data-theme=auto] .list-group-item-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  [data-theme=auto] .list-group-item-success.list-group-item-action:focus, [data-theme=auto] .list-group-item-success.list-group-item-action:hover {
    color: #fff;
    background-color: #218838;
  }
  [data-theme=auto] .list-group-item-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  [data-theme=auto] .list-group-item-danger.list-group-item-action:focus, [data-theme=auto] .list-group-item-danger.list-group-item-action:hover {
    color: #fff;
    background-color: #c82333;
  }
  [data-theme=auto] .list-group-item-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  [data-theme=auto] .list-group-item-warning.list-group-item-action:focus, [data-theme=auto] .list-group-item-warning.list-group-item-action:hover {
    color: #212529;
    background-color: #e0a800;
  }
  [data-theme=auto] .list-group-item-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  [data-theme=auto] .list-group-item-info.list-group-item-action:focus, [data-theme=auto] .list-group-item-info.list-group-item-action:hover {
    color: #fff;
    background-color: #138496;
  }
  [data-theme=auto] .list-group-item-light {
    color: #212529;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  [data-theme=auto] .list-group-item-light.list-group-item-action:focus, [data-theme=auto] .list-group-item-light.list-group-item-action:hover {
    color: #212529;
    background-color: #e2e6ea;
  }
  [data-theme=auto] .list-group-item-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  [data-theme=auto] .list-group-item-dark.list-group-item-action:focus, [data-theme=auto] .list-group-item-dark.list-group-item-action:hover {
    color: #fff;
    background-color: #23272b;
  }
  [data-theme=auto] .dropdown-menu {
    background-color: #171717;
    border-color: #404040;
  }
  [data-theme=auto] .dropdown-item:not(:disabled):not(.disabled) {
    color: #bebebe;
  }
  [data-theme=auto] .dropdown-item:focus,
  [data-theme=auto] .dropdown-item:hover {
    background-color: #242424;
  }
  [data-theme=auto] .dropdown-divider {
    border-top-color: #404040;
  }
  [data-theme=auto] .jumbotron {
    color: #bebebe;
    background-color: #181818;
    border-color: #404040;
  }
  [data-theme=auto] .card {
    color: #bebebe;
    background-color: #181818;
    border-color: #404040;
  }
  [data-theme=auto] .card-header,
  [data-theme=auto] .card-footer {
    color: #bebebe;
    background-color: #202020;
    border-top-color: #404040;
    border-bottom-color: #404040;
  }
  [data-theme=auto] .form-control {
    color: #bebebe;
    background-color: #171717;
    border-color: #404040;
  }
  [data-theme=auto] .form-control-plaintext {
    color: #bebebe;
  }
  [data-theme=auto] .custom-select {
    color: #bebebe;
    background-color: #171717;
    border-color: #404040;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  }
  [data-theme=auto] .custom-file-label {
    color: #bebebe;
    background-color: #171717;
    border-color: #404040;
  }
  [data-theme=auto] .custom-file-label:after {
    color: #bebebe;
    background-color: #202020;
  }
  [data-theme=auto] .input-group-text {
    color: #bebebe;
    background-color: #202020;
    border-color: #404040;
  }
  [data-theme=auto] .page-item .page-link {
    border-color: #404040;
  }
  [data-theme=auto] .page-item.disabled .page-link {
    background-color: #171717;
    color: #bebebe;
  }
  [data-theme=auto] .page-item:not(.active) .page-link {
    background-color: #171717;
  }
  [data-theme=auto] .page-item:not(.active) .page-link:hover {
    background-color: #242424;
  }
  [data-theme=auto] .breadcrumb {
    background-color: #171717;
    border-color: #404040;
  }
  [data-theme=auto] .nav-tabs {
    border-bottom-color: #404040;
  }
  [data-theme=auto] .nav-tabs .nav-link:focus,
  [data-theme=auto] .nav-tabs .nav-link:hover {
    background-color: #242424;
    border-color: #404040;
  }
  [data-theme=auto] .nav-tabs .nav-item.show .nav-link,
  [data-theme=auto] .nav-tabs .nav-link.active {
    color: #bebebe;
    background-color: #222;
    border-color: #404040;
    border-bottom-color: #222;
  }
  [data-theme=auto] .nav-tabs.card-header-tabs .nav-item.show .nav-link,
  [data-theme=auto] .nav-tabs.card-header-tabs .nav-link.active {
    background-color: #181818;
    border-bottom-color: #181818;
  }
  [data-theme=auto] .popover {
    background-color: #222;
    border-color: #404040;
  }
  [data-theme=auto] .popover-body {
    color: #bebebe;
  }
  [data-theme=auto] .popover-header {
    background-color: #202020;
    border-bottom-color: #404040;
  }
  [data-theme=auto] .bs-popover-top > .arrow::before,
  [data-theme=auto] .bs-popover-auto[x-placement^="top"] > .arrow::before {
    border-top-color: #404040;
  }
  [data-theme=auto] .bs-popover-top > .arrow::after,
  [data-theme=auto] .bs-popover-auto[x-placement^="top"] > .arrow::after {
    border-top-color: #222;
  }
  [data-theme=auto] .bs-popover-right > .arrow::before,
  [data-theme=auto] .bs-popover-auto[x-placement^="right"] > .arrow::before {
    border-right-color: #404040;
  }
  [data-theme=auto] .bs-popover-right > .arrow::after,
  [data-theme=auto] .bs-popover-auto[x-placement^="right"] > .arrow::after {
    border-right-color: #222;
  }
  [data-theme=auto] .bs-popover-bottom > .arrow::before,
  [data-theme=auto] .bs-popover-auto[x-placement^="bottom"] > .arrow::before {
    border-bottom-color: #404040;
  }
  [data-theme=auto] .bs-popover-bottom > .arrow::after,
  [data-theme=auto] .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
    border-bottom-color: #222;
  }
  [data-theme=auto] .bs-popover-left > .arrow::before,
  [data-theme=auto] .bs-popover-auto[x-placement^="left"] > .arrow::before {
    border-left-color: #404040;
  }
  [data-theme=auto] .bs-popover-left > .arrow::after,
  [data-theme=auto] .bs-popover-auto[x-placement^="left"] > .arrow::after {
    border-left-color: #222;
  }
  [data-theme=auto] .progress {
    background-color: #171717;
    border-color: #404040;
  }
  [data-theme=auto] .close {
    color: #bebebe;
    opacity: 1;
  }
  [data-theme=auto] .modal-header,
  [data-theme=auto] .modal-footer {
    color: #bebebe;
    background-color: #202020;
    border-bottom-color: #404040;
    border-top-color: #404040;
  }
  [data-theme=auto] .modal-content {
    color: #bebebe;
    background-color: #222;
    border-color: #404040;
  }
}

[data-theme=dark] {
  color: #bebebe;
  background-color: #222;
}

[data-theme=dark] .bg-darkmode-dark {
  background-color: #343a40 !important;
}

[data-theme=dark] .bg-darkmode-light {
  background-color: #f8f9fa !important;
}

[data-theme=dark] .bg-darkmode-black {
  background-color: #222 !important;
}

[data-theme=dark] pre {
  color: #bebebe;
}

[data-theme=dark] hr {
  border-top-color: #404040;
}

[data-theme=dark] img.icon,
[data-theme=dark] svg.icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

[data-theme=dark] .table {
  color: #bebebe;
}

[data-theme=dark] .table th, [data-theme=dark] .table td {
  border-top-color: #404040;
}

[data-theme=dark] .table thead th, [data-theme=dark] .table tbody + tbody {
  border-bottom-color: #404040;
}

[data-theme=dark] .table-hover tbody tr:hover {
  color: #bebebe;
}

[data-theme=dark] .table-bordered {
  border-color: #404040;
}

[data-theme=dark] .table-bordered th, [data-theme=dark] .table-bordered td {
  border-color: #404040;
}

[data-theme=dark] .list-group-item {
  color: #bebebe;
  background-color: #181818;
  border-color: #404040;
}

[data-theme=dark] .list-group-item.list-group-item-action:focus, [data-theme=dark] .list-group-item.list-group-item-action:hover {
  background-color: #222;
}

[data-theme=dark] .list-group-item.active, [data-theme=dark] .list-group-item.active:focus, [data-theme=dark] .list-group-item.active:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

[data-theme=dark] .list-group-item-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

[data-theme=dark] .list-group-item-primary.list-group-item-action:focus, [data-theme=dark] .list-group-item-primary.list-group-item-action:hover {
  color: #fff;
  background-color: #0069d9;
}

[data-theme=dark] .list-group-item-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

[data-theme=dark] .list-group-item-secondary.list-group-item-action:focus, [data-theme=dark] .list-group-item-secondary.list-group-item-action:hover {
  color: #fff;
  background-color: #5a6268;
}

[data-theme=dark] .list-group-item-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

[data-theme=dark] .list-group-item-success.list-group-item-action:focus, [data-theme=dark] .list-group-item-success.list-group-item-action:hover {
  color: #fff;
  background-color: #218838;
}

[data-theme=dark] .list-group-item-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

[data-theme=dark] .list-group-item-danger.list-group-item-action:focus, [data-theme=dark] .list-group-item-danger.list-group-item-action:hover {
  color: #fff;
  background-color: #c82333;
}

[data-theme=dark] .list-group-item-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

[data-theme=dark] .list-group-item-warning.list-group-item-action:focus, [data-theme=dark] .list-group-item-warning.list-group-item-action:hover {
  color: #212529;
  background-color: #e0a800;
}

[data-theme=dark] .list-group-item-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

[data-theme=dark] .list-group-item-info.list-group-item-action:focus, [data-theme=dark] .list-group-item-info.list-group-item-action:hover {
  color: #fff;
  background-color: #138496;
}

[data-theme=dark] .list-group-item-light {
  color: #212529;
  background-color: #6c757d;
  border-color: #6c757d;
}

[data-theme=dark] .list-group-item-light.list-group-item-action:focus, [data-theme=dark] .list-group-item-light.list-group-item-action:hover {
  color: #212529;
  background-color: #e2e6ea;
}

[data-theme=dark] .list-group-item-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

[data-theme=dark] .list-group-item-dark.list-group-item-action:focus, [data-theme=dark] .list-group-item-dark.list-group-item-action:hover {
  color: #fff;
  background-color: #23272b;
}

[data-theme=dark] .dropdown-menu {
  background-color: #171717;
  border-color: #404040;
}

[data-theme=dark] .dropdown-item:not(:disabled):not(.disabled) {
  color: #bebebe;
}

[data-theme=dark] .dropdown-item:focus,
[data-theme=dark] .dropdown-item:hover {
  background-color: #242424;
}

[data-theme=dark] .dropdown-divider {
  border-top-color: #404040;
}

[data-theme=dark] .jumbotron {
  color: #bebebe;
  background-color: #181818;
  border-color: #404040;
}

[data-theme=dark] .card {
  color: #bebebe;
  background-color: #181818;
  border-color: #404040;
}

[data-theme=dark] .card-header,
[data-theme=dark] .card-footer {
  color: #bebebe;
  background-color: #202020;
  border-top-color: #404040;
  border-bottom-color: #404040;
}

[data-theme=dark] .form-control {
  color: #bebebe;
  background-color: #171717;
  border-color: #404040;
}

[data-theme=dark] .form-control-plaintext {
  color: #bebebe;
}

[data-theme=dark] .custom-select {
  color: #bebebe;
  background-color: #171717;
  border-color: #404040;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
}

[data-theme=dark] .custom-file-label {
  color: #bebebe;
  background-color: #171717;
  border-color: #404040;
}

[data-theme=dark] .custom-file-label:after {
  color: #bebebe;
  background-color: #202020;
}

[data-theme=dark] .input-group-text {
  color: #bebebe;
  background-color: #202020;
  border-color: #404040;
}

[data-theme=dark] .page-item .page-link {
  border-color: #404040;
}

[data-theme=dark] .page-item.disabled .page-link {
  background-color: #171717;
  color: #bebebe;
}

[data-theme=dark] .page-item:not(.active) .page-link {
  background-color: #171717;
}

[data-theme=dark] .page-item:not(.active) .page-link:hover {
  background-color: #242424;
}

[data-theme=dark] .breadcrumb {
  background-color: #171717;
  border-color: #404040;
}

[data-theme=dark] .nav-tabs {
  border-bottom-color: #404040;
}

[data-theme=dark] .nav-tabs .nav-link:focus,
[data-theme=dark] .nav-tabs .nav-link:hover {
  background-color: #242424;
  border-color: #404040;
}

[data-theme=dark] .nav-tabs .nav-item.show .nav-link,
[data-theme=dark] .nav-tabs .nav-link.active {
  color: #bebebe;
  background-color: #222;
  border-color: #404040;
  border-bottom-color: #222;
}

[data-theme=dark] .nav-tabs.card-header-tabs .nav-item.show .nav-link,
[data-theme=dark] .nav-tabs.card-header-tabs .nav-link.active {
  background-color: #181818;
  border-bottom-color: #181818;
}

[data-theme=dark] .popover {
  background-color: #222;
  border-color: #404040;
}

[data-theme=dark] .popover-body {
  color: #bebebe;
}

[data-theme=dark] .popover-header {
  background-color: #202020;
  border-bottom-color: #404040;
}

[data-theme=dark] .bs-popover-top > .arrow::before,
[data-theme=dark] .bs-popover-auto[x-placement^="top"] > .arrow::before {
  border-top-color: #404040;
}

[data-theme=dark] .bs-popover-top > .arrow::after,
[data-theme=dark] .bs-popover-auto[x-placement^="top"] > .arrow::after {
  border-top-color: #222;
}

[data-theme=dark] .bs-popover-right > .arrow::before,
[data-theme=dark] .bs-popover-auto[x-placement^="right"] > .arrow::before {
  border-right-color: #404040;
}

[data-theme=dark] .bs-popover-right > .arrow::after,
[data-theme=dark] .bs-popover-auto[x-placement^="right"] > .arrow::after {
  border-right-color: #222;
}

[data-theme=dark] .bs-popover-bottom > .arrow::before,
[data-theme=dark] .bs-popover-auto[x-placement^="bottom"] > .arrow::before {
  border-bottom-color: #404040;
}

[data-theme=dark] .bs-popover-bottom > .arrow::after,
[data-theme=dark] .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  border-bottom-color: #222;
}

[data-theme=dark] .bs-popover-left > .arrow::before,
[data-theme=dark] .bs-popover-auto[x-placement^="left"] > .arrow::before {
  border-left-color: #404040;
}

[data-theme=dark] .bs-popover-left > .arrow::after,
[data-theme=dark] .bs-popover-auto[x-placement^="left"] > .arrow::after {
  border-left-color: #222;
}

[data-theme=dark] .progress {
  background-color: #171717;
  border-color: #404040;
}

[data-theme=dark] .close {
  color: #bebebe;
  opacity: 1;
}

[data-theme=dark] .modal-header,
[data-theme=dark] .modal-footer {
  color: #bebebe;
  background-color: #202020;
  border-bottom-color: #404040;
  border-top-color: #404040;
}

[data-theme=dark] .modal-content {
  color: #bebebe;
  background-color: #222;
  border-color: #404040;
}

/* Code Hilite dark theme */

[data-theme=auto] .codehilite .hll { background-color: #ffffcc }
[data-theme=auto] .codehilite  { background: #f8f8f8; }
[data-theme=auto] .codehilite .c { color: #408080; font-style: italic } /* Comment */
[data-theme=auto] .codehilite .err { border: 1px solid #FF0000 } /* Error */
[data-theme=auto] .codehilite .k { color: #008000; font-weight: bold } /* Keyword */
[data-theme=auto] .codehilite .o { color: #666666 } /* Operator */
[data-theme=auto] .codehilite .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
[data-theme=auto] .codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
[data-theme=auto] .codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
[data-theme=auto] .codehilite .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
[data-theme=auto] .codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
[data-theme=auto] .codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
[data-theme=auto] .codehilite .gd { color: #A00000 } /* Generic.Deleted */
[data-theme=auto] .codehilite .ge { font-style: italic } /* Generic.Emph */
[data-theme=auto] .codehilite .gr { color: #FF0000 } /* Generic.Error */
[data-theme=auto] .codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[data-theme=auto] .codehilite .gi { color: #00A000 } /* Generic.Inserted */
[data-theme=auto] .codehilite .go { color: #888888 } /* Generic.Output */
[data-theme=auto] .codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
[data-theme=auto] .codehilite .gs { font-weight: bold } /* Generic.Strong */
[data-theme=auto] .codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[data-theme=auto] .codehilite .gt { color: #0044DD } /* Generic.Traceback */
[data-theme=auto] .codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
[data-theme=auto] .codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
[data-theme=auto] .codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
[data-theme=auto] .codehilite .kp { color: #008000 } /* Keyword.Pseudo */
[data-theme=auto] .codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
[data-theme=auto] .codehilite .kt { color: #B00040 } /* Keyword.Type */
[data-theme=auto] .codehilite .m { color: #666666 } /* Literal.Number */
[data-theme=auto] .codehilite .s { color: #BA2121 } /* Literal.String */
[data-theme=auto] .codehilite .na { color: #7D9029 } /* Name.Attribute */
[data-theme=auto] .codehilite .nb { color: #008000 } /* Name.Builtin */
[data-theme=auto] .codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
[data-theme=auto] .codehilite .no { color: #880000 } /* Name.Constant */
[data-theme=auto] .codehilite .nd { color: #AA22FF } /* Name.Decorator */
[data-theme=auto] .codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
[data-theme=auto] .codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
[data-theme=auto] .codehilite .nf { color: #0000FF } /* Name.Function */
[data-theme=auto] .codehilite .nl { color: #A0A000 } /* Name.Label */
[data-theme=auto] .codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
[data-theme=auto] .codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
[data-theme=auto] .codehilite .nv { color: #19177C } /* Name.Variable */
[data-theme=auto] .codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
[data-theme=auto] .codehilite .w { color: #bbbbbb } /* Text.Whitespace */
[data-theme=auto] .codehilite .mb { color: #666666 } /* Literal.Number.Bin */
[data-theme=auto] .codehilite .mf { color: #666666 } /* Literal.Number.Float */
[data-theme=auto] .codehilite .mh { color: #666666 } /* Literal.Number.Hex */
[data-theme=auto] .codehilite .mi { color: #666666 } /* Literal.Number.Integer */
[data-theme=auto] .codehilite .mo { color: #666666 } /* Literal.Number.Oct */
[data-theme=auto] .codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
[data-theme=auto] .codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
[data-theme=auto] .codehilite .sc { color: #BA2121 } /* Literal.String.Char */
[data-theme=auto] .codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
[data-theme=auto] .codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
[data-theme=auto] .codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
[data-theme=auto] .codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
[data-theme=auto] .codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
[data-theme=auto] .codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
[data-theme=auto] .codehilite .sx { color: #008000 } /* Literal.String.Other */
[data-theme=auto] .codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
[data-theme=auto] .codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
[data-theme=auto] .codehilite .ss { color: #19177C } /* Literal.String.Symbol */
[data-theme=auto] .codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
[data-theme=auto] .codehilite .fm { color: #0000FF } /* Name.Function.Magic */
[data-theme=auto] .codehilite .vc { color: #19177C } /* Name.Variable.Class */
[data-theme=auto] .codehilite .vg { color: #19177C } /* Name.Variable.Global */
[data-theme=auto] .codehilite .vi { color: #19177C } /* Name.Variable.Instance */
[data-theme=auto] .codehilite .vm { color: #19177C } /* Name.Variable.Magic */
[data-theme=auto] .codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */

[data-theme=dark] .codehilite  { background: #1e1e1e; }
[data-theme=dark] .codehilite .bp { color: #9cdcfe } /* Name.Builtin.Pseudo */
[data-theme=dark] .codehilite .c { color: #408080; font-style: italic } /* Comment */
[data-theme=dark] .codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
[data-theme=dark] .codehilite .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
[data-theme=dark] .codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
[data-theme=dark] .codehilite .cp { color: #569CD6 } /* Comment.Preproc */
[data-theme=dark] .codehilite .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
[data-theme=dark] .codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
[data-theme=dark] .codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
[data-theme=dark] .codehilite .err { border: 1px solid #FF0000 } /* Error */
[data-theme=dark] .codehilite .fm { color: #dcdcaa } /* Name.Function.Magic */
[data-theme=dark] .codehilite .gd { color: #A00000 } /* Generic.Deleted */
[data-theme=dark] .codehilite .ge { font-style: italic } /* Generic.Emph */
[data-theme=dark] .codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[data-theme=dark] .codehilite .gi { color: #00A000 } /* Generic.Inserted */
[data-theme=dark] .codehilite .go { color: #888888 } /* Generic.Output */
[data-theme=dark] .codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
[data-theme=dark] .codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[data-theme=dark] .codehilite .gr { color: #FF0000 } /* Generic.Error */
[data-theme=dark] .codehilite .gs { font-weight: bold } /* Generic.Strong */
[data-theme=dark] .codehilite .gt { color: #0044DD } /* Generic.Traceback */
[data-theme=dark] .codehilite .hll { background-color: #ffffcc }
[data-theme=dark] .codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
[data-theme=dark] .codehilite .k { color: #c586c0; font-weight: bold } /* Keyword */
[data-theme=dark] .codehilite .kc { color: #569cd6; font-weight: bold } /* Keyword.Constant */
[data-theme=dark] .codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
[data-theme=dark] .codehilite .kn { color: #c586c0; font-weight: bold } /* Keyword.Namespace */
[data-theme=dark] .codehilite .kp { color: #008000 } /* Keyword.Pseudo */
[data-theme=dark] .codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
[data-theme=dark] .codehilite .kt { color: #b5cea8 } /* Keyword.Type */
[data-theme=dark] .codehilite .m { color: #666666 } /* Literal.Number */
[data-theme=dark] .codehilite .mb { color: #CE9178 } /* Literal.Number.Bin */
[data-theme=dark] .codehilite .mf { color: #b5cea8 } /* Literal.Number.Float */
[data-theme=dark] .codehilite .mh { color: #CE9178 } /* Literal.Number.Hex */
[data-theme=dark] .codehilite .mi { color: #b5cea8 } /* Literal.Number.Integer */
[data-theme=dark] .codehilite .mo { color: #666666 } /* Literal.Number.Oct */
[data-theme=dark] .codehilite .n { color: #9cdcfe } /* Name.Attribute */
[data-theme=dark] .codehilite .na { color: #7D9029 } /* Name.Attribute */
[data-theme=dark] .codehilite .nb { color: wheat } /* Name.Builtin */
[data-theme=dark] .codehilite .nc { color: #4ec9b0; font-weight: bold } /* Name.Class */
[data-theme=dark] .codehilite .nd { color: #4ec9b0 } /* Name.Decorator */
[data-theme=dark] .codehilite .ne { color: #4ec9b0; font-weight: bold } /* Name.Exception */
[data-theme=dark] .codehilite .nf { color: #dcdcaa } /* Name.Function */
[data-theme=dark] .codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
[data-theme=dark] .codehilite .nl { color: #A0A000 } /* Name.Label */
[data-theme=dark] .codehilite .nn { color: #4ec9b0; font-weight: bold } /* Name.Namespace */
[data-theme=dark] .codehilite .no { color: #880000 } /* Name.Constant */
[data-theme=dark] .codehilite .nt { color: #9cdcfe; font-weight: bold } /* Name.Tag */
[data-theme=dark] .codehilite .nv { color: #19177C } /* Name.Variable */
[data-theme=dark] .codehilite .o { color: ivory } /* Operator */
[data-theme=dark] .codehilite .ow { color: #c586c0; font-weight: bold } /* Operator.Word */
[data-theme=dark] .codehilite .p { color: yellow } /* Operator */
[data-theme=dark] .codehilite .s { color: lightsalmon } /* Literal.String */
[data-theme=dark] .codehilite .s1 { color: #ce9178 } /* Literal.String.Single */
[data-theme=dark] .codehilite .s2 { color: #ce9178 } /* Literal.String.Double */
[data-theme=dark] .codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
[data-theme=dark] .codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
[data-theme=dark] .codehilite .sc { color: #BA2121 } /* Literal.String.Char */
[data-theme=dark] .codehilite .sd { color: #ce9178; font-style: italic } /* Literal.String.Doc */
[data-theme=dark] .codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
[data-theme=dark] .codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
[data-theme=dark] .codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
[data-theme=dark] .codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
[data-theme=dark] .codehilite .ss { color: #19177C } /* Literal.String.Symbol */
[data-theme=dark] .codehilite .sx { color: #008000 } /* Literal.String.Other */
[data-theme=dark] .codehilite .vc { color: #dcdcaa } /* Name.Variable.Class */
[data-theme=dark] .codehilite .vg { color: #dcdcaa } /* Name.Variable.Global */
[data-theme=dark] .codehilite .vi { color: #dcdcaa } /* Name.Variable.Instance */
[data-theme=dark] .codehilite .vm { color: #dcdcaa } /* Name.Variable.Magic */
[data-theme=dark] .codehilite .w { color: #bbbbbb } /* Text.Whitespace */
