:root {
    --base-text-weight-medium: #000000;
    --color-accent-subtle:rgba(56,139,253,0.15);
    --color-accent-fg: #58a6ff;
    --color-topic-tag-border:rgba(0,0,0,0);
    --color-fg-on-emphasis: #ffffff;
    --color-accent-emphasis: #1f6feb;
    --color-navbar-element-title: #ffffff;
    --color-navbar-element-item: #acacac;
}
[data-theme=dark] {
    --base-text-weight-medium: #000000;
    --color-accent-subtle:rgba(56,139,253,0.15);
    --color-accent-fg: #58a6ff;
    --color-topic-tag-border:rgba(0,0,0,0);
    --color-fg-on-emphasis: #ffffff;
    --color-accent-emphasis: #1f6feb;
    --color-navbar-element-title: #ffffff;
    --color-navbar-element-item: #acacac;
}
[data-theme=light] {
    --base-text-weight-medium: #000000;
    --color-accent-subtle:rgba(4, 42, 73, 0.15);
    --color-accent-fg: #003674;
    --color-topic-tag-border:rgba(0,0,0,0);
    --color-fg-on-emphasis: #ffffff;
    --color-accent-emphasis: #1f6feb;
    --color-navbar-element-title:#3a3a3a;
    --color-navbar-element-item: #363742;
}

:root{
    --height-posts-cards: 200px;
    --height-posts-cards-img: 12rem;
    --height-posts-cards-body: 14rem;
    --width-posts-cards: 100%;
}

// Navbar background
:root{
    --bs-dark-rgb: 24, 24, 24;
}
[data-theme=dark]{
    --bs-dark-rgb: 24, 24, 24;
}
[data-theme=light]{
    --bs-dark-rgb: 78, 138, 148;
}

// toggler theme colors
:root{
    --toggler-theme-main-color: #fafbf0;
    --toggler-theme-bg-color: #24212a;
    --toggler-theme-brd-color: #24212a;
    --toggler-theme-text-color: #24212a
}
[data-theme=dark]{
    --toggler-theme-main-color: #fafbf0;
    --toggler-theme-bg-color: #24212a;
    --toggler-theme-brd-color: #24212a;
    --toggler-theme-text-color: #24212a
}
[data-theme=light]{
    --toggler-theme-main-color: #363742;
    --toggler-theme-bg-color: #fafbf0;
    --toggler-theme-brd-color: #111;
    --toggler-theme-text-color: #fafbf0
}